.button {
  text-decoration: none;
  background: rgb(63, 87, 179);
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: rgb(255, 255, 255);
}

.button:hover {
  background-color: rgb(0, 128, 0);
}

.button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.buttonPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
